

header {
    background-color: #007BFF;
    text-align: center;
    color: aliceblue;
}

footer {
    background-color: #007BFF;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
.container {
    margin-block-end: 70px;

}
